

.json-formatter-container {
    background-color: #F2F2F2;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    color: black;
  }
  
  .json-formatter-title {
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .json-formatter-actions {
    margin: 1rem;
  }
  
  .format-button,
  .clear-button,
  .download-button,
  .copy-button {
    margin-left: auto;
    background-color: #0051A8;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: medium;
  }
  
  .error-message {
    color: red;
  }
  
  .space-between {
    margin: 1.5rem;
    padding: 1.5rem;
  }
  
  .json-formatter-description {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 800px; /* Adjust max-width as needed */
    justify-content: center;
    align-items: center;
  }
  
  .json-formatter-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .json-editor {
    width: 100%;
    max-width: 800px; /* Adjust max-width as needed */
    height: 300px; /* Adjust height as needed */
    margin: 20px 0;
  }
  .editor-description{
    display: flex;
    flex-direction: column;
    margin:auto;
    width:50%;
  }
  
  /* Media Queries for Mobile Responsive Design */
  @media screen and (max-width: 768px) {
    .json-formatter-title {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .json-formatter-description {
      width: 90%;
    }
    .json-formatter-content{
      flex-direction: column;
    }
    .editor-description{
        display: flex;
        flex-direction: column;
        /* margin:auto; */
    width:100%;
    }
  }
  